@if (loading) {
  <div class="text-center">Loading...</div>
} @else {
  <div class="row ">
    @for (prd of products; track prd.id) {
      <div class="col-md-3 mt-5 mb-3">
        <div class="card kk h-100">
          <img [src]="prd.image" class="card-img-top" alt="{{prd.title}}" style="height:180px; object-fit:cover">
          <div class="card-body bg-dark text-white">
            <h6>{{ prd.title }}</h6>
            <p class="small text-muted">{{ prd.category }}</p>
            <p class="fw-bold">{{ prd.price | currency }}</p>
            <a [routerLink]="['/products', prd.id]" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>   
      </div>
    }
 <div class="h-200px"></div>
  </div>
  
}


