 <img src="images/cover.jpg" class="w-100" alt="">
 <div class="container">
  
  <p class="text-center fs-1 text-success my-5 fw-bold">Our Products</p>

  <div class="d-flex align-items-center justify-content-center mb-3">
    <input type="text" 
       class="form-control w-50 me-2" 
       placeholder="Search By Name" 
       [(ngModel)]="searchTerm"
       (ngModelChange)="searchByName()" />

    <button class="btn btn-primary" (click)="searchByName()">
      Search
    </button>
  </div>
<h2>{{currentDate | date}}</h2>
  <div class="row">
    @for (prd of filteredProducts; track prd.id) {
      <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100" appCardShadow  >
          <img [src]="prd.img" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title fs-5">{{prd.name}}</h5>
            <p class="card-text">{{prd.description}}</p>
            
            <p class="card-text">Credit Card: {{ prd.creditCard | creditCard }}</p>
            <span class="btn-success me-2 border p-1">Price: {{prd.price | currency}} </span>
            <span class="btn-success border p-1">
              {{prd.quantity}}
              @switch (prd.quantity) {
                @case (0) { out of stock }
                @case (1) { Last Item }
                @case (2) { Few Items Left }
                @default { In Stock }
              }
            </span>

            <div class="mt-3">
              <button class="btn btn-success me-2" 
                      (click)="addToCart(prd)" 
                      [disabled]="prd.quantity == 0">
                Buy
              </button>

            <!-- <button class="btn btn-primary" (click)="toggleDetails(prd)">
  {{ selectedProduct?.id === prd.id ? 'Close' : 'Show details' }}
</button> -->
<button class="btn btn-info" [routerLink]="['/products', prd.id]">
  Details
</button>
            </div>

          </div>
        </div>
      </div>
    } @empty {
      <h2 class="text-center text-danger">No Products Found</h2>
    }
  </div>
 <!-- @if (selectedProduct) {
  <app-product-detail 
    [product]="selectedProduct" 
    (closeDetails)="onCloseDetails()">
  </app-product-detail>
} -->
<div class="h-200px"></div>
</div>
