 
 <app-header></app-header>

<div class="container-fluid">
    <button class="btn btn-success" (click)="toggleClock()">
        {{ showClock ? 'Hide Clock' : 'Show Clock' }}
      </button>
          @if (showClock) {
      <app-clock></app-clock>
          }
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>




    <!-- <app-header></app-header>
  <div class="container-fluid ">
    <div class="row ">
          <img src="images/cover.jpg" class="img" alt="">

      <div class="col-12">   
        <button class="btn btn-success" (click)="toggleClock()">
        {{ showClock ? 'Hide Clock' : 'Show Clock' }}
      </button>
          @if (showClock) {
      <app-clock></app-clock>
    }
        <router-outlet> </router-outlet>
    </div>
    </div>
  </div>
  <app-footer></app-footer> -->